.languageContainer {
  margin-right: -20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -14px;
}

.languageButton {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  padding: 0 10px;
  border-radius: 0 0 8px 8px;
}

.languageButton:hover,
.downloadButton:hover {
  background-color: #ccc;
  box-shadow: 0 0 4px #aaa;
}

.downloadButton {
  background-color: #eee;
  color: #555;
  padding: 6px 12px;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  margin-right: 20px;
}

@media print {
  .languageContainer,
  .downloadButton {
    display: none;
  }
}
