.main {
  display: flex;
  min-height: 100vh;
}

.leftSection {
  background-color: #f7e018;
  width: 300px;
  padding: 40px;
  flex-shrink: 0;
}

.rightSection {
  margin-left: 30px;
  padding-right: 30px;
  position: relative;
}

.info {
  background-color: #e9d316;
  padding: 12px;
  margin: -20px;
  margin-bottom: -10px;
  border-radius: 6px;
  text-align: center;
}

.info .description {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.profileDescription {
  font-size: 1.1rem;
}

.titleName {
  margin: 0;
  text-align: center;
}

.divider {
  border-bottom: 1px solid #ab9a00;
  margin: 10px auto;
}

.specialist {
  text-align: center;
  margin-top: 0;
}

.personalData,
.links,
.proficiencies {
  margin-bottom: 10px;
}

.title {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 24px;
  background-color: #f9f9f9;
  margin-left: -30px;
  margin-right: -30px;
}

.linkContainer {
  padding: 4px 4px 4px 0;
}
.linkContainer a {
  padding: 4px 4px 4px 0;
}

.proficiencies ul {
  padding-inline-start: 14px;
}

@media only screen and (max-width: 425px) {
  .main {
    flex-direction: column;
  }
  .leftSection {
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .leftSection {
    width: 240px;
    padding: 20px;
  }
  .rightSection {
    padding: 10px;
    margin: 0;
  }
  .title {
    margin-left: -10px;
  }
}
